@{
    ViewData["Title"] = "Assignment";
}

<div class="text-center h-100 w-100" style="display: flex; justify-content:center; flex-direction: column; align-items:center;">
    <div class="d-flex justify-content-center align-items-center" style="position: relative; height: 60vh; width: 100vw; margin-bottom: 50px;">
        <div style="background-color: rgba(0,0,0,0.4); height: 100%; width: 100%; position: absolute"></div>
        <img style="width: 100%; height: 100%; object-fit: cover" src="https://lh3.googleusercontent.com/pw/AMWts8B9srcVHaPK0Aanr2KbUILrYbvFp_wbjVOYLS4GKJqUyw9vYdiRVPZwquuzVAUcFxl1UwRl_IkNZ-4bCZx1vSwEJhqzhUN4RcdgxBdiwqGzUa6ruBj-bdyBDFiT-LCGts9FSvgNO9f2ltmNiVOoLx4eZg=w1404-h937-no?authuser=0" alt="pho" />       
        <div style="color: white; position: absolute;">
            <h1 class="display-4" >Petite Kitchen</h1>
            <p>Authentic Vietnamese Cuisine.</p>
        </div>        
    </div>
    <div style="max-width: 70%; margin-bottom: 50px">
        <h2>About Us</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <!-- Menu section -->
    <div style="width: 100%; height: auto; display: flex; justify-content: space-around; gap: 15px; padding: 0px 40px">
        <div style="flex: 1; position: relative; display: flex; justify-content:center; align-items:center;">
            <div style="background-color: rgba(0,0,0,0.4); height: 100%; width: 100%; position: absolute"></div>
            <img 
                style="width: 100%; height: 100%; object-fit: cover" 
                src = "https://lh3.googleusercontent.com/pw/AMWts8Cn_EjQU0hG32NcBOu9z-J60YHL8qr-pGDMDqyWXU1d9J7OJrWxAGcFQ23L51xQJele6PiObWs52kOCJ6fbfUMvTSzjDeABcPAP98Ti3oc6HW0hYhHn4_vytZmr1E0o2fK7nGDRCp2ITNSxcsIcxqqMsg=w1404-h937-no?authuser=0" 
             />            
            <span style="font-size: 30px; font-weight: 600; z-index: 10; color: white; position: absolute;">Breakfast</span>
        </div> 
        <div style="flex: 1; position: relative; display: flex; justify-content:center; align-items:center; ">
            <div style="background-color: rgba(0,0,0,0.4); height: 100%; width: 100%; position: absolute"></div>
            <img 
                style="width: 100%; height: 100%; object-fit: cover" 
                src = "https://lh3.googleusercontent.com/pw/AMWts8AXcUgVgFT9ViTXfHwnUrQyIp6cz71QeHdSZNQwq3R6QROWFxRnBncbx_b8sZfaEg1NGH4e4G8Cs86TVVaQjBltt4CNL78YAd20UnrfITE6XHy3pyeAmSXZAdkbVt2A4WmdiZ_41dwb-WRylEBHSfCJSw=w1404-h937-no?authuser=0" 
            />            
            <span style=" font-size: 30px; font-weight: 600; z-index: 10; color: white; position: absolute;">Lunch</span>
        </div>    
        <div style="flex: 1; position: relative; display: flex; justify-content:center; align-items:center;">
            <div style="background-color: rgba(0,0,0,0.4); height: 100%; width: 100%; position: absolute"></div>
            <img 
                style="width: 100%; height: 100%; object-fit: cover" 
                src = "https://lh3.googleusercontent.com/pw/AMWts8BOQDTB9TPABnxVM-fenkwGGDrgDfE_xlKb2mWpyOT9KyGdfKr191-a5adeqKd4RkDVmGcfKGq0m_w_URTXgnlYgMKSNSOX2Y7T9SyGEoqbCg2KaYul2A28GktHF2q9DDHNII62ZN6k1x8oneKJ5N3RUA=w1404-h937-no?authuser=0" 
            />            
            <span style="font-size: 30px; font-weight: 600; z-index: 10; color: white; position: absolute;">Dinner</span>
        </div>    
    </div>

</div>
